<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assistant"
        tools:targetApi="31" >

        <activity android:name=".phrases.DayPhrasesActivity"
            android:exported="false"/>

        <activity android:name=".views.BookmarkActivity"
            android:exported="false"/>

        <activity
            android:name=".views.StorageActivity"
            android:exported="false"/>

        <activity
            android:name=".views.EditPlanActivity"
            android:exported="false"/>

        <activity
            android:name=".tasks.EditTaskActivity"
            android:exported="false"/>

        <activity
            android:name=".views.NewEventActivity"
            android:exported="false"/>

        <activity
            android:name=".views.TimetableActivity"
            android:exported="false"/>

        <activity
            android:name=".wheel.CtgForWheelActivity"
            android:exported="false"/>

        <activity
            android:name=".SideMenuActivity"
            android:exported="false"/>

        <activity
            android:name=".views.WheelActivity"
            android:exported="false"/>

        <activity
            android:name=".views.AllRecordsDiaryActivity"
            android:exported="false"/>

        <activity
            android:name=".views.DiaryActivity"
            android:exported="false"/>

        <activity
            android:name=".views.NewPlanActivity"
            android:exported="false"/>

        <activity
            android:name=".views.PlansActivity"
            android:exported="false"/>

        <activity
            android:name=".views.NewTaskActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>