<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_wheel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_wheel"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assistant"
        tools:targetApi="31" >

        <activity android:name=".ui.wheel.view.NewCategoriesActivity"
            android:exported="false"/>

        <activity android:name=".ui.profile.view.ProfileActivity"
            android:exported="false"/>

        <activity android:name=".ui.auth.view.RegistrationActivity"
            android:exported="false"/>

        <activity android:name=".ui.auth.view.LoginActivity"
            android:exported="false"/>


        <activity
            android:name=".ui.storage.view.StorageActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.plans.view.EditPlanActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.home.view.EditTaskActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.timetable.view.NewEventActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.timetable.view.TimetableActivity"
            android:exported="false"/>


        <activity
            android:name=".ui.home.view.SideMenuActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.wheel.view.WheelActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.diary.view.AllRecordsDiaryActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.diary.view.DiaryActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.plans.view.NewPlanActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.plans.view.PlansActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.home.view.NewTaskActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.home.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>